{% extends "base_bookstore.html" %}

{% block content %}

    <form class="navbar-form navbar-right" action="." method="get">
        <!-- add -->
        <a href="{% url 'bookstore:book_add' %}">
            <button id="new_register" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Adicionar
            </button>
        </a>
        <!-- search form -->
        <div class="form-group">
            <input id="search_box" name="search_box" type="text" placeholder="Localizar..." class="form-control">
            <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </form>

    <h1>Lista de Livros</h1>

  {% if books %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Livro</th>
          <th>Autores</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
          <tr>
            <td><a href="{{ book.get_absolute_url }}">{{ book.name }}</a></td>
            <td>{{ book.authors }}</td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
  {% else %}
    <p class="alert alert-warning">Sem itens na lista.</p>
  {% endif %}

{% include "includes/pagination.html" %}

{% endblock content %}