{% extends "base_bookstore.html" %}
{% load crypto_tags %}
{% load active_tags %}

{% block title %}Bookstore | Customer List{% endblock title %}

{% block content %}

    <form class="navbar-form navbar-right" action="." method="get">
        <!-- add -->
        <a href="{% url 'bookstore:customer_add' %}">
            <button id="new_register" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Adicionar
            </button>
        </a>
        <!-- search form -->
        <div class="form-group">
            <input id="search_box" name="search_box" type="text" placeholder="Localizar..." class="form-control">
            <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </form>

    <h1>Lista de Clientes</h1>

    <div>
        {% if customers %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Nascimento</th>
                        <th class="text-center">Ativo</th>
                    </tr>
                </thead>
                <tbody>
                {% for customer in customers %}
                    <tr>
                        <td><a href="{{ customer.get_absolute_url }}">{{ customer.full_name|crypto }}</a></td>
                        <td>{{ customer.email|default:"---" }}</td>
                        <td>{{ customer.birthday|date:"d/m/Y"|default:"---" }}</td>
                        <td class="text-center">{{ customer.active|active_tag }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="alert alert-warning">Sem itens na lista.</p>
        {% endif %}
    </div>

    <hr>
    <div>
        <h3><b>Total:</b> {{ customers|length }} cliente{{ customers|length|pluralize }}</h3>
    </div>


<!-- pagination -->

{% endblock content %}