{% extends "base_bookstore_nav.html" %}
{% load crypto_tags %}
{% load active_tags %}

{% block title %}Bookstore | Customer List{% endblock title %}

{% block content %}

  <h2>Lista de Clientes
    <a href="{% url 'bookstore:customer_add' %}">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add">
        <i class="material-icons" role="presentation">add</i>
        <span class="visuallyhidden">Add</span>
      </button>
    </a>
  </h2>

  {% if customers %}
    <div class="mdl-grid">
      <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--4-col">
          <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Nome</th>
                <th class="mdl-data-table__cell--non-numeric">Email</th>
                <th class="mdl-data-table__cell--non-numeric">Nascimento</th>
                <th class="mdl-data-table__cell--non-numeric">Ativo</th>
              </tr>
            </thead>
            <tbody>
              {% for customer in customers %}
                <tr>
                  <td class="mdl-data-table__cell--non-numeric"><a href="{{ customer.get_absolute_url }}">{{ customer.full_name|crypto }}</a></td>
                  <td class="mdl-data-table__cell--non-numeric">{{ customer.email|default:"---" }}</td>
                  <td class="mdl-data-table__cell--non-numeric">{{ customer.birthday|date:"d/m/Y"|default:"---" }}</td>
                  <td class="mdl-data-table__cell--non-numeric">{{ customer.active|active_tag }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      <div class="mdl-layout-spacer"></div>
    </div>
  {% else %}
    <p class="alert alert-warning">Sem itens na lista.</p>
  {% endif %}

{% include "includes/pagination.html" %}

{% endblock content %}