{% extends "base_bootstrap.html" %}
{% load bootstrap %}

{% block content %}

  <form id="protestForm" 
        class="form-horizontal col-sm-6" 
        method="POST" 
        action="." 
        data-url="{% url 'service:ajax_load_typeservices' %}">
    <legend>Fazer reclamação</legend>
    {% csrf_token %}
    {{ form|bootstrap_horizontal }}
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" id="id_submit" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </form>

<script>
  $('#id_service').change(function() {
    let url = $('#protestForm').data('url')
    let serviceId = $(this).val()

    $.ajax({
      url: url,
      data: {
        'service': serviceId
      },
      success: function(data) {
        $('#id_typeservice').html(data);
      },
    });
  });
</script>

{% endblock content %}