{% extends "base_crm_list.html" %}
{% load static %}

{% block title %}
  <title>CRM|Employee</title>
{% endblock title %}

{% block content %}

  <div class="ui main text container">
    <h1 class="ui header">Funcionários</h1>
    <p>Gerencie seus funcionários.</p>

    <table class="ui very basic collapsing celled table">
      <thead>
        <tr><th>Funcionário</th>
        <th>Cargo</th>
      </tr></thead>
      <tbody>
        {% for item in object_list %}
          <tr>
            <td>
              <h4 class="ui image header">
                <img src="{{ item.photo|default:'http://semantic-ui.com/images/avatar2/small/matthew.png' }}" class="ui mini rounded image">
                <div class="content">
                  {{ item.full_name }}
                  <div class="sub header">{{ item.email|default:'---' }}
                </div>
              </div>
            </h4></td>
            <td>
              {{ item.occupation|default:'---' }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

{% endblock content %}