{% load activeurl %}

<header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title"><a href="{% url 'core:home' %}">Django Experience</a></span>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
      <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
        <a href="{% url 'bookstore:book_add' %}"><i class="material-icons">add</i></a>
      </label>
      <div class="mdl-textfield__expandable-holder">
        <input class="mdl-textfield__input" type="text" id="search" />
        <label class="mdl-textfield__label" for="search">Enter your query...</label>
      </div>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
      <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
        <i class="material-icons">search</i>
      </label>
      <div class="mdl-textfield__expandable-holder">
        <input class="mdl-textfield__input" type="text" id="search" />
        <label class="mdl-textfield__label" for="search">Enter your query...</label>
      </div>
    </div>
  </div>
</header>
