{% load static %}
<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  {% block title %}
    <title>CRM|</title>
  {% endblock title %}

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "css/mystyle.css" %}">

  <link rel="stylesheet" type="text/css" href="{% static 'css/semantic/semantic.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/semantic/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/semantic/site.css' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'css/semantic/container.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/semantic/grid.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/semantic/header.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/semantic/image.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/semantic/menu.css' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'css/semantic/divider.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/semantic/list.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/semantic/segment.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/semantic/dropdown.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/semantic/icon.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/semantic/table.css' %}">
  <!-- My personal semantic CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/semantic/mysemantic_lists.css' %}">

</head>
<body>

{% block menu %}
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="{% url 'core:home' %}" class="header item">
        <img class="logo" src="{% static 'img/semantic/logo.png' %}">
        Django Experience
      </a>
      <a href="{% url 'crm:crm_index' %}" class="item">Home</a>
      <div class="ui simple dropdown item">
        Listas <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="{% url 'crm:customer_list' %}">Clientes</a>
          <a class="item" href="{% url 'crm:provider_list' %}">Fornecedores</a>
          <a class="item" href="{% url 'crm:seller_list' %}">Vendedores</a>
          <a class="item" href="{% url 'crm:employee_list' %}">Funcionários</a>
        </div>
      </div>
    </div>
  </div>
{% endblock menu %}

{% block content %}{% endblock content %}

{% block footer %}
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Religious Ceremonies</a>
            <a href="#" class="item">Gazebo Plans</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Banana Pre-Order</a>
            <a href="#" class="item">DNA FAQ</a>
            <a href="#" class="item">How To Access</a>
            <a href="#" class="item">Favorite X-Men</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Django Experience | CRM 2016</h4>
          <p>Este template foi feito com <a href="http://semantic-ui.com/" target="_blank">semantic-ui</a>.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock footer %}

</body>

</html>
