{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}Bookstore{% endblock title %}</title>

    <!-- Page styles -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static "css/material.min.css" %}">
    <link rel="stylesheet" href="{% static "css/mdstyles.css" %}">
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">

  <style>
    .intro {
      padding-top: 60px;
    }
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
  </style>

  </head>
  <body>
    {% include "includes/nav_bookstore.html" %}

    <div class="intro container">
      {% block content %}{% endblock content %}
    </div>

    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  </body>
</html>
