
{% block content %}
  <div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <form class="form-horizontal" role="form">
              <div class="form-group">
                   
                  <label for="inputEmail3" class="col-sm-2 control-label">
                      Email
                  </label>
                  <div class="col-sm-10">
                      <input class="form-control" id="inputEmail3" type="email" />
                  </div>
              </div>
              <div class="form-group">
                   
                  <label for="inputPassword3" class="col-sm-2 control-label">
                      Password
                  </label>
                  <div class="col-sm-10">
                      <input class="form-control" id="inputPassword3" type="password" />
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                      <div class="checkbox">
                           
                          <label>
                              <input type="checkbox" /> Remember me
                          </label>
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                       
                      <button type="submit" class="btn btn-default">
                          Sign in
                      </button>
                  </div>
              </div>
          </form>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <table class="table">
              <thead>
                  <tr>
                      <th>
                          #
                      </th>
                      <th>
                          Product
                      </th>
                      <th>
                          Payment Taken
                      </th>
                      <th>
                          Status
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>
                          1
                      </td>
                      <td>
                          TB - Monthly
                      </td>
                      <td>
                          01/04/2012
                      </td>
                      <td>
                          Default
                      </td>
                  </tr>
                  <tr class="active">
                      <td>
                          1
                      </td>
                      <td>
                          TB - Monthly
                      </td>
                      <td>
                          01/04/2012
                      </td>
                      <td>
                          Approved
                      </td>
                  </tr>
                  <tr class="success">
                      <td>
                          2
                      </td>
                      <td>
                          TB - Monthly
                      </td>
                      <td>
                          02/04/2012
                      </td>
                      <td>
                          Declined
                      </td>
                  </tr>
                  <tr class="warning">
                      <td>
                          3
                      </td>
                      <td>
                          TB - Monthly
                      </td>
                      <td>
                          03/04/2012
                      </td>
                      <td>
                          Pending
                      </td>
                  </tr>
                  <tr class="danger">
                      <td>
                          4
                      </td>
                      <td>
                          TB - Monthly
                      </td>
                      <td>
                          04/04/2012
                      </td>
                      <td>
                          Call in to confirm
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
{% endblock content %}